@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating-image {
  animation: float 3s ease-in-out infinite;
}

/* Add this to your existing styles */
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #111827; /* dark gray-900 */
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Optional: Add this if you want smoother scrolling on Safari */
.smooth-scroll {
  -webkit-overflow-scrolling: touch;
}